// 布局主体样式
.layout-main{
 display: flex;
 .layout-right{
   flex: 1;
   background: #ef89fe;
   .layout-header{
     background: #fff;
     height: 48px;
     .toggle-collapsed-btn{
       font-size: 22px;
       width: 48px;
       text-align: center;
       line-height: 48px;
       cursor: pointer;
     }
   }
 }
}

// 菜单主体样式
.menu-main{
  width: 256px;
  height: 100vh;
  background: #001529;
  transition: width 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
  &.collapsed{
  width: 80px;
  }
  .logo{
    width: 100%;
    height: 55px;
    // line-height: 55px;
    padding: 5px 15px;;
    >img{
      // transform: translateY(-8px);
      width: 44px;
      height: 100%;
    }
    >span{
      color:#2fae49;
      font-size: 24px;
      font-weight: 700;
      position: relative;
      padding-left: 8px;
      top: 8px;
    }
  }
}